/*

GLOBAL Stylesheet - Please DO NOT add theme-specific fonts sizes, images and background colors using this file


1. BODY & BACKGROUND
2. HEADER
3. SEARCH
4. FONTS & HEADERS
5. LOGO, ICONS
6. NAVIGATION & MENUS
7. BUTTONS & DROPDOWNS
8. QUICKTABS
9. FORMS
10. FOOTER

~ page-specific  / templates ~

11. LOG-IN / REGISTER PAGES
12. LOGGED-IN HOME / DASHBOARD PAGE
13. TOPICS PAGE
14. TOPIC COMMENTS
15. TOPIC DETAIL - ARTICLE & COMMENTS
16. THREADED COMMENTS
17. USER PROFILE
18. MEMBER ORGANISATIONS
19. MEMBER ORGANISATION PROFILES
20. MEMBERS / THE COMMUNITY
21. NEWS
22. ADMIN LOGIN - HOME / DASHBOARD PAGE
23. KNOWLEDGE FEATURE [UNUSED?]
24. IE Fixes
25. HUBS

~ responsive ~

26. RESPONSIVE - CONTENT-SPECIFIC
27. MOBILE RESPONSIVE MENU


---------------------------------------------
 */


/**
1. BODY & BACKGROUND
---------------------------------------------
 */


body {
  background: #fbfbfb url('/profiles/collabco/themes/collabco_theme/images/subtle_dots.png') repeat; 
  font-family: 'Helvetica Neue', HelveticaNeue, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  font-weight: normal;
  font-style: normal;
  line-height: 1.4;
}

li { 
  line-height: 1.4em; 
}

/* Text highlight ------------- */
/* Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 */

::-moz-selection {
  background: #c7def9;
  text-shadow: none;
}

::selection {
  background: #c7def9;
  text-shadow: none;
}

/* Global content styles -------------*/

#main-content {
  padding-top: 20px;
}

.content-head {
  text-align:center;
  margin:0; 
}

.block .content {
  padding-left: 10px;
  padding-right: 10px;
}

.main .block {
  margin-bottom: 10px;
}

.content-body p {
  padding:2%;
}

.caret {
  border-bottom-color: #999; 
  border-top-color: #999;
}

.form-actions {
  background-color: transparent;
  border-top: 0;
  padding: 0px; 
}

table thead th {
  text-transform: uppercase;
}

.breadcrum {
  margin: 10px 0 0 0;
}

.breadcrum h1 {
  font-size:2.5em;
  line-height: 1.2em;
  max-width: 700px;
}

.title_block { /* Topics and News background */
  background-color: #f2f2f2;
}

/* Generic content page headings -------------*/

#page-title { 
  line-height: 1;
  text-align: left;
  padding-left:10px;
}

/* System alerts -------------*/

.alert {
  margin-bottom: 10px;
}

/**
2. HEADER
---------------------------------------------
 */

#header {
  background: #FFF;
  border-bottom: 1px solid #F2F2F2;
  margin-top: 0px;
  margin-bottom: 0px;
}

#header_top {
  border-bottom: 1px solid #F2F2F2;
  padding-bottom: 20px;
  margin: 20px 0 0 0;
}

#header_top_middle {
  padding-top:20px;
}

#header_bottom_right{
  padding-top: 2px;
}

/**
3. SEARCH
---------------------------------------------
 */

#search-box {
  font-size: 0.85em;
  padding-top:10px;
}

#block-search-form {
  float: right;
  padding: 6px 0 0 0;
}

#block-search-form .search-query {
  font-size: 0.9em;
  height: 15px;
  width: 80px;
  color: ##6a6767;
}

html.js #block-search-form input.form-autocomplete{ /* Overwrites open_framework icon double-up */
  background-image:none;
}

#block-search-form .btn-search {
  top: 5px;
}

/* Search results page -----------------------*/

.search-form {
  margin-bottom:20px;
}

ol.search-results {
  margin-left:0;
  border-top:1px solid #e5e5e5; 
}

.search-results li{
  border-bottom:1px solid #e5e5e5;
}

.search-snippet strong{
  padding:0 2px;
}

.search-snippet strong,
.search-form input[type='text']{ /*highlight search query string inside results*/
  background: #c7def9;
  color: #474545;
  font-weight: normal;
}


/**
4. FONTS & HEADERS
---------------------------------------------
 */

h1 {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.9em;
  line-height: 2.2;
}
h2 {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.45em;
  line-height: 1.4;
}
h3 {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.2em;
  line-height: 1.4;
}
h4 {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.4em;
  line-height: 1.4;
}
h5 {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1em;
  line-height: 1.0;
}

h6 {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 0.875em;
  line-height: 1.0;
}

p {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: normal;
  line-height: 1.4;
  margin-bottom: 20px;
}
.p {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-size: 1em;
}

.p2 {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-size: 0.875em;
}

/* Icon overrides ---------------------------*/

[class^="icon-"], [class*=" icon-"]{ /*NB this can be removed if the fontawesome css is inherited after bootstrap*/
  width:auto;
  height: auto;
  line-height: normal;
  display:inline;
  vertical-align: baseline;
  background:none;
}

/**
5.  LOGO, ICONS
---------------------------------------------
 **/

/* Desktop logo */

#logo a,               /*generic pages*/
.ui-footer .ui-logo a{ /*login page*/
  background:url('/profiles/collabco/themes/collabco_theme/images/logo-placeholder.png') no-repeat;
  display:block;
  height:54px;
  width:200px;
}

.ui-footer .ui-logo a{
  margin:0 auto;
}

#logo a:hover, #logo a:active,               
.ui-footer .ui-logo a:hover, .ui-footer .ui-logo a:active { 
  text-decoration: none;
}

/* Mobile logo */

#tab-container .tab_logo.tab a{
  background:url('/profiles/collabco/themes/collabco_theme/images/logo-placeholder.png') no-repeat;
  display:block;
  background-size:111px 30px; /* scale down bg image size */
  height:30px;
  width:111px;
}


/**
6. NAVIGATION & MENUS
---------------------------------------------
 **/

 /* Navigation tabs global -------------*/

.nav-tabs{
  padding-bottom:5px; 
  margin-top:10px;
}

 /* Turn off tabs on certain pages -------------*/

.page-user.page-user- .tabs{ 
  display:none;
}
.node-type-conversation .nav-tabs {
  display:none;
}
.logged-in .page-user .nav-tabs {
  display:none;
}
.page-user-edit .form-item-field-provisional-organisation {
  display: none;
}

 /* Base menu overrides -------------*/

ul.menu  a:hover {
  background-color: #fff;
}

ul.menu li {
  margin: 0; 
}

.nav>li>a {
  display: inline;
}

ul.menu {
  display: inline-block;
}


/* All menus -----------------------*/

.menu_secondary li, 
.menu_primary li {
  display: inline;
}

/* Top/Secondary menu --------------*/

.menu_secondary {
  text-align: right;
}

.menu_secondary a {
  color: #999999;
  margin: 0 0 0 5px;
  font-size: 1.1em;
  text-transform: uppercase;
  background: none;
}

.menu_secondary a:hover,
.menu_secondary a:focus {
  text-decoration: none;
  background-color: #fff; /* Overwrites bootstrap.css */
  color:#444;
}

.menu_secondary li a.active,
.menu_secondary li a.hover {
  color: #999999;
  text-decoration: none;
  background-color:#fff;
  padding-bottom: 2px;
  border-bottom: 3px solid #F2F2F2;
}


/* Bottom/Primary menu -------------*/

.menu_primary {
  font-size: 16px;
}

.menu_primary .content, 
#menu_primary .content{
  line-height: 1em;
}

.menu_primary ul, 
#menu_primary ul{ 
  margin: 0; 
}

.menu_primary ul.menu li a { 
  display:inline;
  margin: 0 20px 0 0;
  float:left;
  padding: 14px 0 10px 0; 
  border-bottom: 3px solid #FFF;
}

.menu_primary ul.menu li a.active {
  color: #999;
  text-decoration: none;
  background-color:#fff;
  border-bottom: 3px solid #c1c1c1;
}

.menu_primary a{
  color: #999;
  margin: 0;
  text-transform: uppercase;
  font-size: 1em;
  line-height: 1em;
  font-weight: 700;
}

.menu_primary a:hover {
  text-decoration: none;
  color:#444;
  background-color:none;
}

/* User drop-down menu --------*/

#header_bottom_right #user_details .navigation-profile-picture {
  display: inline-block;
  zoom:1; /*IE7 fix*/
  *display:inline; /*IE7 fix*/
  width: 30px;
  padding-top:6px;
}

#header_bottom_right #user_details .navigation-profile-picture img {
  width: 30px;
  height:30px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-border-radius: 30em;
  -moz-border-radius: 30em;
  border-radius: 30em;
  border: 1px solid #CCC;
}

#header_bottom_right #user_details .btn.dropdown-toggle{
  padding:4px 6px;
}

#header_bottom_right .account-menu {
  float: right;
  display: inline-block;
  zoom:1; /*IE7 fix*/
  *display:inline; /*IE7 fix*/
}


/* Sidebar - secondary nav -------------*/

#sidebar-first {
  background-color: #fff;
  outline:1px solid #EAEAEA;
  padding-top: 20px;
}

#sidebar-first .user-picture {
  margin:0 0px 10px 5px;
}


/**
7. BUTTONS & DROPDOWNS
---------------------------------------------
 */

.btn {
  /*
  background-image: none;
  background-color: white;
  line-height: 15px;
  border:none;
  box-shadow: none;
  border-image: none;
  color: #999999;
  */
}

.btn:hover,
.btn:focus,
.btn:active,
.btn.active,
.btn.disabled,
.btn[disabled] {
  /*
  background-color: #fff;
  *background-color: #fff;
  */
}

.btn-group > .btn + .dropdown-toggle {
  /*
  box-shadow: none;
  */
}

.btn-group > .btn,
.btn-group > .dropdown-menu,
.btn-group > .popover {
  /*
  font-size: 13px;
  */
}

.dropdown-toggle:hover,
.dropdown-toggle:focus,
.dropdown-toggle:active,
.dropdown-toggle.active,
.dropdown-toggle.disabled,
.dropdown-toggle[disabled] {
  color: #333333;
  background-color: #e6e6e6;
  *background-color: #d9d9d9;
  box-shadow: none;
  border-image: none;
}

.btn-group > .btn:first-child {
  /*margin-left: 2px;
  -webkit-border-top-left-radius: 0px;
  -moz-border-radius-topleft: 0px;
  border-top-left-radius: 0px;
  -webkit-border-bottom-left-radius: 0px;
  -moz-border-radius-bottomleft: 0px;
  border-bottom-left-radius: 0px;*/
}

.btn-group > .dropdown-toggle {
  -webkit-border-top-right-radius: 0px;
  -moz-border-radius-topright: 0px;
  border-top-right-radius: 0px;
  -webkit-border-bottom-right-radius: 0px;
  -moz-border-radius-bottomright: 0px;
  border-bottom-right-radius: 0px;
}

.dropdown-menu {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  margin: 1px 0 0;
}


/**
8. QUICKTABS
---------------------------------------------
 */

 ul.quicktabs-tabs {
   margin-left: 12px;
 }

 ul.quicktabs-tabs li {
   display: inline-block;
   background-color: #f2f2f2;
   border: 1px solid #ccc;
   border-radius: 5px;
   margin: 9px 6px 40px 0;
   padding: 8px 10px 6px 10px;
   min-width: 100px;
   text-align: center;
   border: 1px solid #CCC;
   border-radius: 5px;
 }

 ul.quicktabs-tabs li.active {
   background-color: white;
 }

 ul.quicktabs-tabs li a {
   color: #ed6a26;
   text-decoration: none;
 }



/**
9. FORMS
---------------------------------------------
 */

/* Account Settings form - radio buttons */

#user-profile-form .form-radios label{
  display:inline-block;
}

#user-profile-form .form-radios input[type="radio"]{
  margin-top:0;
  margin-right: 2px;
}

#user-profile-form label[for="edit-node-notify"],
#user-profile-form label[for="edit-comment-notify"]{
  font-weight: 700;
  margin-top:20px;
}

/* */

#user-profile-form {
  padding: 0 10px;
}

#user-pass {
  padding: 0 10px;
}

.password-parent {
  width: 460px;
}

.password-strength {
  width: 200px;
}

input[type="file"] {
  line-height: normal;
}

/**
10. FOOTER
---------------------------------------------
 */

#footer-content img {
  height: 60px;
}



/**
11. LOG-IN / REGISTER PAGES
---------------------------------------------
 **/

.not-logged-in .container{
  width: 400px;
  text-align: center;
}

.not-logged-in .form-item, .not-logged-in .form-actions {
  margin-top: 2em;
  margin-bottom: 2em;
}

.not-logged-in .container input[type="text"],
.not-logged-in .container input[type="password"] {
  width: 96%;
  padding: 10px 2%;
}

.not-logged-in .container label {
  text-align: left;
  font-size: 18px;
}

.not-logged-in .container .description{
  text-align: left;
}

.not-logged-in .container form .form-required{
  display:none;
}

.not-logged-in .container form .form-type-password label a{
  float:right;
  font-size:12px;
}

.not-logged-in .ui-header{
  padding-bottom:20px;
  background:url('/sites/all/themes/custom_theme/images/shadow-top.png') no-repeat center bottom;
}
.not-logged-in .ui-footer{
  padding-top:40px;
  padding-bottom:40px;
  background:url('/sites/all/themes/custom_theme/images/shadow-bottom.png') no-repeat center top;
}

.not-logged-in h1.ui-title {
  font-size: 3em;
  line-height: 1;
  margin-top:20px; 
}


.not-logged-in h1.ui-title img {
  padding-right: 10px;
  margin-top:-5px;
}

.not-logged-in h2.ui-subtitle{
  color:#999;
}

.not-logged-in .form-actions a,
.not-logged-in .form-actions input{
  display:block;
  clear:both;
}

.not-logged-in .form-actions h3{
  border-top:1px solid #e5e5e5;
  margin-top:2em;
  padding:2em 0 1em 0;
  color:#AAA;
  text-transform: uppercase;
}

.not-logged-in .form-actions .span6 {
  background:#fff;
  padding:1em 0;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  border:1px solid #f2f2f2;
}

.not-logged-in .form-actions input#edit-submit{
  margin-bottom: 3em;
  width:100%;
  padding-top:10px;
  padding-bottom:10px;
  height: auto;
  text-transform: uppercase;
}

.not-logged-in .ui-messages{
  margin-top:20px;
}

.not-logged-in .ui-messages ul li{
  text-align: left;
  margin-bottom: 0.5em;
}
.not-logged-in .ui-messages ul li:last-child{
  margin-bottom: 0em;
}

.not-logged-in .ui-box {
  text-align: left;
  padding:10px 15px;
  background:#ffefdb;
}


/**
12. LOGGED-IN HOME / DASHBOARD PAGE
---------------------------------------------
 **/


 /* User info in sidebar --------*/

.dash_nav {
  font-size: 12px;
  padding-top: 4px;
  background-color: #fff;

}

.dash_nav .content, .dash_nav .content {
  padding: 0px;
  margin: 0px;
}

.dash_nav ul {
  margin: 0px;
  list-style-type: none;
  width: 100%;
}

.dash_nav li.leaf { 
  display: block;
  list-style-image: none;
  list-style-type: none;
  width: 100%;
  padding: 0px;
}

.dash_nav li a { 
  list-style-image: none;
  padding-left: 15px;
}

.dash_nav li a:hover { 
  text-decoration: underline;
}

.dash_nav li a.active {
  color: #fff;
  text-decoration: none;
}

.dash_nav .leaf.active-trail {
  background-color:#0088cc;
}

.dash_nav .leaf.active-trail a:hover {
  background-color:inherit;
}

.dash_nav a{
  font-size: 1.2em;
  line-height: 2.1em;
}

.sidebar .dash_nav .nav {
margin-left: 0px;
}

.dash_profile .content div {
  text-align: center;
  margin: 0px;
  font-size: 1.1em;
  font-weight: bold;
}

.dash_profile .user-picture img {
  width: 90px;
  height: 90px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-border-radius: 30em;
  -moz-border-radius: 30em;
  border-radius: 30em;©
  border: 1px solid #CCC;
}

.notifications {
  background-color: #d2ecf7; /*Light blue*/
  padding: 30px 20px 0px 20px;
  width:auto; /*needed to override width:100% from open_framework.css;*/
}

.notifications div,
.notifications span {
  display:inline-block;
}

.notifications .views-field-title:before{
  content:"\F06A"; /* Exclamation icon */
  color:#0088cc; /*Blue*/
}

.notifications .views-field-title{
  margin-bottom: 0.35em;
  font-family:'FontAwesome';
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  font-size:1.15em;
}

.notifications .views-field-title a{
  padding-left:2px;
  font-family:'Helvetica Neue', HelveticaNeue, Helvetica, Arial, sans-serif;
}

.content-lower ul.quicktabs-tabs li {
  margin:10px 6px 10px 0;
}

#block-views-slideshow-block .content {
  padding: 0px;
}

#block-block-8 .content {
  padding: 0px;
  margin-top: -8px;
}

.view-news-update .item-list ul li {
  margin-left: 0px;
}

.pcp-wrapper { /* Progress bar */
  margin-bottom: 10px;
}

/* Dashboard --------------*/

.dashboard_head {}

.block-meta-welcome-block {
  background-color: #f2f2f2;
  border: 1px solid #cccccc;
  padding-bottom: 10px;
}

.dashboard, .dashboard h4, .dashboard p{
  color:#333;
}

.dashboard .span4 {
  padding: 0 10px 10px 18px;
  text-align: left;
}

.dashboard .span4 h4 {
  font-size: 1em;
  margin:5px 0 0;
}

.dashboard h2 {
  text-align: center;
  text-transform: uppercase;
  border-bottom:1px solid #cccccc;
  margin: 0 15px 15px 15px;
  padding:15px 0;
}


/* Your feed - from content you're following --------------*/

.home_activity h2 {
  margin: 1em 0;
  font-size: 1.15em;
  font-weight: normal;
  font-family:'Helvetica Neue', HelveticaNeue, Helvetica, Arial, sans-serif;
  border-top: 1px solid #DFDFDF;
  border-left: 1px solid #DFDFDF;
  border-right: 1px solid #DFDFDF;
  background:#fff;
  padding:10px;
  margin:0;
  -webkit-border-radius: 10px 10px 0 0;
  -moz-border-radius: 10px 10px 0 0;
  border-radius: 10px 10px 0 0;
}

.home_activity h2 strong {
  font-size: 1.5em;
  padding-left:0.25em;
  font-weight: normal;
} 

.home_activity h2:before{
  font-family:'FontAwesome';
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  font-size: 1.5em;
  content:"\F143"; /*RSS icon*/
}

.comment_border {
  border-left: 3px solid #ccc;
  padding-left: 10px;
  margin-top: 10px;
}

.view-recent-activity .activity-details {
  margin: 0px;
  padding: 0px;
  color:#888;
  display: inline-block;
}

.view-recent-activity li.views-row {
  margin:0 -10px;
  padding: 10px;
  border-top: 1px solid #DFDFDF;
  border-left: 1px solid #DFDFDF;
  border-right: 1px solid #DFDFDF;
  background:#fff;
}

.view-recent-activity li.views-row:last-child{
  border-bottom: 1px solid #DFDFDF;
}

.view-recent-activity li.views-row:hover,
.view-recent-activity li.views-row:focus,
.view-recent-activity li.views-row:active {
  /*background:#fffaf5;*/
}

.view-recent-activity .activity-details a:first-child{ /*User name label*/
  font-weight: bold;
}

.view-recent-activity .activity-details a:nth-child(3){ /*Article label*/
  color:#333;
  font-weight: 700;
}


/* User picture --------*/

.user-picture-small img {
  width: 36px;
  height: 36px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-border-radius: 15em;
  -moz-border-radius: 15em;
  border-radius: 15em;
  border: 1px solid #CCC;
}



/** 13. TOPICS PAGE 
---------------------------------------------
 */

/* Generic headings */

.header-icon i {
  color:#666;
  display:block;
  padding-top:10px;
}

/* Topics index */

.topic_index {
  margin-bottom: 20px;
}

.topic_item {
  padding-left: 20px;
}

.topic_host {
  margin-bottom: 15px;
  margin-top: 10px;
  text-transform: center;
  padding: 20px 15px;
  background-color: #FBFBFB;
}

.topic_host p, .topic_host h2{
  text-transform: left;
}

.topic_host h2 {
  padding-left: 0px;
  margin: 0 0 10px 0;
  font-weight: 700;
}

ul.recent_topicslist li.views-row-first {
  height:0px;
  overflow: hidden;
}

/* -- list items */

.index_item {
 display: block;
 border-bottom: 1px solid #F2F2F2;
 padding: 10px 0 20px 0;
}

.index_item h3{
  font-size: 1.15em;
  margin:0;
}

.content-lower .quicktabs-tabs { /* Hide Topics Page quicktabs until this can be rebuilt properly */
  display:none;
  margin-left:0;
  margin-bottom:0;
}

/* Style Topics search bar & quicktabs */

.content-upper #block-views-exp-meta-search-topic-search form,
.content-lower .quicktabs-tabs{
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 0;
  border:1px solid #f2f2f2;
}

.content-upper #block-views-exp-meta-search-topic-search input, 
.content-upper #block-views-exp-meta-search-topic-search label {
  font-size: 0.875em;
}

/* -- feature image box */

.item-list ul li.topic-feature,
#block-quicktabs-topics .item-list ul li { /*Overwrite default list stylings */
  margin:0;
}

.topic-feature .recommended {
  margin-top:20px;
  margin-bottom:10px;
}

.topic_feature_left {
  text-align: right;
  position: relative;
}

.topic_feature_left img{
  border:1px solid #444;
}

.topic_feature_title {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 80px;
  text-transform: uppercase;
  color: #FFF;
  background: #333;
  padding: 8px 20px;
  font-family:'Helvetica Neue', HelveticaNeue, Helvetica, Arial, sans-serif;
  text-align: left;
}

.topic_feature_title:before{
  font-family:'FontAwesome';
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  content:"\F017"; /* Clock icon*/
  padding-right: 6px;
}


/* -- featured item */

.topic_feature_right { 
  padding-left:20px;
}

.topic_feature_right h3 { 
  font-size: 1.5em;
}


.topic_feature_body { 
  margin-bottom: 10px; 
}


.article_host p { 
  margin-bottom: 0px; 
}

.article_host {
  margin-top: 10px;
}

.user_block .user-picture-small {
  padding-right: 10px;
}

.user_block tbody { 
  border: none;
}

.user_block td {
  border: none;
  padding: 0px;
}

.field-content { 
  display: block;
}

.topic_create {
  background: #F7A233;
  border-style: none;
  height: 30px;
  padding-top: 10px;
  width: 100%;
  text-align: center;
}

.topic_create a {
  color: #FFF;
  font-size: 13px;
  text-transform: uppercase;
}

.topic_create a:hover {
  text-decoration: none;
}


/* TOPIC DETAIL */


/* -- Sidebar with follow button */
.sidebar_follow {
  text-align: center;
  margin-top:10px;
}

/* -- article content */

h2.title { 
  /*padding-left: 0px; */
}

.contentarticle{
  margin-top: 10px;
  margin-bottom: 10px;
}

.contentarticle img { 
  margin: 20px 0; 
}


/* -- hide featured image */

.contentarticle .field-name-field-featured-image,
.contentarticle .field-name-field-featured-image { display: none; }


/* -- feature image box */

.topic_feature_left img{
  border:1px solid #F2F2F2;
}

/* -- following topics */

.topic-comment-blob { border-bottom: 1px solid #6A6767; }
.topic_reply { float: right; }


/* -- Table styling : topics you're following & hosting */

.view-display-id-list_of_topics table.views-table,
.view-display-id-topics_hosted table.views-table {
  width: 100%;
}

.view-display-id-list_of_topics th,
.view-display-id-topics_hosted th{ 
  vertical-align: top; 
}

.view-display-id-list_of_topics td,
.view-display-id-topics_hosted td {
  background: none;
  border: none;
}

.view-display-id-list_of_topics table.views-table tr,
.view-display-id-topics_hosted table.views-table tr  { 
  border-bottom: 1px solid #DFDFDF; 
}



/**
14. TOPIC COMMENTS
---------------------------------------------
 **/

#comments {
  margin-top: 40px; /*Allows for 'utility links which sit inline' */
  padding-right: 20px;
}

#comments .comment {
  background-color: #fff;
  padding: 0px;
  margin-bottom: 20px;
}

#comments .comment .content {
  background-color: #f2f2f2;
}

.indented .comment_profile {
  padding-left: 10px;
}

.pointer {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 15px 15px 15px 0;
  border-color: transparent #f2f2f2;
  display: block;
  width: 0;
  z-index: 1;
  left: -15px;
  top: 25px;
}

.comment_bubble {
  position: relative;
  padding: 0px;
  background-color: #f2f2f2;
}

.comment_bubble::after {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 15px 15px 15px 0;
  border-color: transparent #f2f2f2;
  display: block;
  width: 0;
  z-index: 1;
  left: -15px;
  top: 25px;
}

.indented .comment_bubble::after {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 0 15px 15px;
  border-color: #f2f2f2 transparent;
  display: block;
  width: 0;
  z-index: 1;
  top: -15px;
  left: 41px;
}

#comments h2 { 
  padding: 0 0 0 20px; 
}

.comment-wrapper { 
  background-color: #fff; 
  padding: 10px;
}

.form-item label {
  font-size: 12px;
  font-weight: normal;
}

#edit-notify-type .form-item label {
  display:inline;
  padding:2px 20px 0 8px;
}

#edit-notify-type input[type="radio"], 
.form-item input[type="checkbox"] {
  margin-top:0;
}

li.comment-reply {
  margin: 0 -5px 5px 0;
}

ul.inline li.active{ /*Overwrites system menus*/
  color:#0088cc;
}

ul.inline li.active a{ /*Overwrites system menus*/
  color:#0088cc;  
}

li.comment-add {
  font-family:'Helvetica Neue', HelveticaNeue, Helvetica, Arial, sans-serif;
}

li.comment-add:before{
  font-family:'FontAwesome';
  padding-right:2px;
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  font-size: 1.5em;
  content:"\F086"; /*RSS icon*/
}

/* Comment form */

#comment-form {
  position: relative;
  padding: 15px;
  background-color: #f2f2f2;
  margin-left: 20px;
}

#comment-form::after {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 15px 15px 15px 0;
  border-color: transparent #f2f2f2;
  display: block;
  width: 0;
  z-index: 1;
  left: -15px;
  top: 25px;
}

#comment-form .form-item,
#comment-form .form-radios {
  margin: 1em 2px 2px 0;
}

form .field-name-field-file-ref {
  margin-top: 0px;
  padding-top: 0px;
  border-top: none;
}

#comment-form {
  font-size: 12px;
}

#comment-form select {
  font-size: 12px;
}

#comment-form input {
  font-size: 12px;
}



/**
15. TOPIC DETAIL - ARTICLE & COMMENTS
---------------------------------------------
 */

 /* -- hide h1 and follow links */
body.node-type-conversation h1#page-title { 
  display: none;
}

 /* -- edit link for topic owner */
.edit_your_topic {
  float: right;
  clear: left;
}

.links {
  padding:0px;
  float: right;
  font-size: 0.8em;
  line-height:0.8em;
}

.conversation-item {
  margin-bottom:2%;
}

.conversation-excerpt {
  margin-top: 2%;
  line-height: 1.2em;
}

.conversationcomment {
  margin-top:10px;
  margin-left: 0px;
}

.excerpt-author {
  font-weight: bold;
}

.commentname {
  font-size: 0.8em;
  line-height: 1.5em;
}

.commentquote {
  font-size: 0.9em;
  line-height: 1.2em;
  margin-top: 2%;
  float:left;
}

.comment-img {
  margin-left: 1%;
}

.more-link {
  margin-left:10px;
}

.view-conversation-titles .views-row {
  margin-bottom: 0;
  border-bottom: none;
  padding-bottom: 0;
}

.view-join-the-coversation #content-top .content p {
  margin: 8px 0;
}

.view-join-the-coversation .current-conversation-title {}

.view-join-the-coversation .conversationpreview .conversationcomment div {
  min-height: 0px;
}

.view-join-the-coversation .views-field {
  padding: 0;
}

.conversation-summary h2 {
  text-align: center;
  width: 85%;
  margin: auto;
  margin-bottom: 10px;
  margin-top: 10px;
  padding-bottom: 5px;
}

#first-time {
  color: #fff;
  height:0px;
  overflow:hidden;
}

#first-time a {
  color:#ffffff;
  text-decoration: none;
}

.conversationpreview {
  margin-left: -15px;
  padding: 10px 20px;
  width: 92%;
  background-color: #f3f3f3;
}
.node-type-conversation .submitted .submitted-content-posted {
  font-style: italic;
}

.view-join-the-coversation .views-field {
  background-color: #fff;
  padding: 0 20px 20px;
  margin-bottom: 20px;
}



/**
16. THREADED COMMENTS
---------------------------------------------
 */

.comment-bubble {
  position: relative;
  width: 220px;
  min-height: 50px;
  padding: 10px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}

.comment-bubble:before {
  content: "";
  position: absolute;
  top: -30px;
  left: 16px;
  border-style: solid;
  border-width: 0 7px 29px;
  display: block;
  width: 0;
  z-index: 0;
}

.comment-bubble:after {
  content: "";
  position: absolute;
  top: -28px;
  left: 16px;
  border-style: solid;
  border-width: 0 7px 29px;
  display: block;
  width: 0;
  z-index: 1;
}

.conversationcomment {
  background-color: #ffffff;
  margin-left: -5px;
  padding: 10px 10px 10px 10px;
  width: 85%;
  margin-top: 10px;
  margin-bottom:5px;
}

.commentquote {
  margin-left: -5px;
}

.commentname {
  padding-right: 5px;
  margin-right: -5px;
}

.comment span.new {
  display: none;
}

/* User picture --------*/

#comments .user-picture {
  float: left;
  width: 55px;
  height: 55px;
  padding: 10px 0 0 10px;
}

#comments .user-picture img {
  width: 45px;
  height: 45px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-border-radius: 15em;
  -moz-border-radius: 15em;
  border-radius: 15em;
  border: 1px solid #CCC;
}

#comments .comment {
  margin: 0 0px 15px 0px;
  padding: 12px;
}

#comments .comment .field-name-comment-body {
  font-weight: normal;
  font-size: 12px;
  line-height: 1.5;
  color: #767676;
}

#comments h3 {
  font-size: 1.2em;
  line-height: 1.5;
  display: block;
  padding-bottom: 6px;
  padding-left: 74px;
  background: white;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 4px;
}

#comments .submitted {
  font-size: 0.875em;
  line-height: 1.5;
  padding-left: 74px;
  background: white;
  margin-bottom: 0px;
  padding-right: 28px;
}

#comments .content {
  background: white;
  margin: 0px;
  padding: 12px;
}

#comments .field-name-comment-body {
  margin-bottom: 0px;
}
#comments .links {
  margin: 10px 10px 0px 0px;
  display: block;
}

#comments .comment a.permalink { /* Turns off permalink to comment */
  display: none;
}

#comments .comment .content {
  clear: both;
}
#comments .comment .field-name-comment-body {
  padding-left: 0px;
}
#comments .comment .submitted {
  height: 55px;
}
#comments .comment .submitted span a {
  display: block;
}
.conversationcomment .commentquote {
  float: none;
  width: 100%;
  clear: both;
  padding-top: 5px;
}


/** 17. USER PROFILE
---------------------------------------------
 */


/* User Profile page --------*/

.user-profile {
    margin-top:20px;
}

.user-profile .profile-page-user-picture img {
  width: 120px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-border-radius: 120em;
  -moz-border-radius: 120em;
  border-radius: 120em;
  border: 1px solid #CCC;
}

.profile-page-title {
  font-size: 1.9em;
  line-height:1.5em;
  text-transform: capitalize;
}

.profile-page-title p{
  margin-bottom: 0;
}

/**
18. MEMBER ORGANISATIONS
---------------------------------------------
 */

.view-members-of-organisation .view-header{
  margin:10px 0;
}
.view-members-of-organisation .user-picture img {
  /*width: 90px;*/
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-border-radius: 999em;
  -moz-border-radius: 999em;
  border-radius: 999em;
  border: 1px solid #CCC;
}

.view-members-of-organisation .user-description{
  padding:5px 0 0 10px;
}

.view-members-of-organisation .user-description h6{
  font-size:18px;
  margin-bottom:4px;
}

.view-members-of-organisation table,
.view-members-of-organisation td{
  border:none;
}

.view-members-of-organisation h6{
  margin:0;
}

.view-members-of-organisation .even-columns{
  width:50%;
}

/** 19. MEMBER ORGANISATION PROFILES
---------------------------------------------
 */

.twocolgrid {
  float: left;
  width: 40%;
  height: 120px;
  padding-bottom: 5px;
  margin-right: 25px;
  margin-bottom: 30px;
  vertical-align: baseline;
  margin-left: 10px;
}

.orgbox {
  text-align:center;
  margin: 20px 5% 0 5%;
}

.orgtext {
  position: relative;
  clear:left;
  display:inline;
  margin:10px auto;
}

.field-type-text-with-summary {
  border-bottom: 1px solid #CCC;
}

.view-member-organisations ul {
  margin:0;
  clear: both;
  height:30px;
  padding:20px 0;
}

.view-member-organisations .views-row {
  margin-top: 1em;
  padding-bottom: 10px;
  border-bottom: none;
}
.view-member-organisations ul li {
  display: inline;
}
.view-member-organisations ul {
  padding-bottom: 10px;
  margin-bottom: 15px;
  height: 80px;
}
.marginleft20 {
  margin-left: 20px;
}
.fieldset-title {
  font-size: 0.7em;
}
.field-collection-view {
  margin-bottom: 20px;
}
#quicktabs-services .ui-widget-header {
  padding: 0px;
}
#quicktabs-services .ui-state-default {}

#quicktabs-services li {}

.ui-tabs-nav li {
  width: 24%;
  margin-bottom: 5px;
  height: 70px;
  white-space: normal;
}
.ui-tabs-nav li a {
  float: left;
  padding: .5em 1em;
  text-decoration: none;
  white-space: normal;
}

#quicktabs-services {
  margin-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 20px;
}


/**
20. MEMBERS / THE COMMUNITY
---------------------------------------------
 */

 .custom-grid ul li{
  margin:0 0 10px 0;
  margin-left:0 !important; /*Why is bootstrap.css loading after custom styles??  */
  height:200px;
 }

 .view-all-users .field-content img { 
  width: 90px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-border-radius: 90em;
  -moz-border-radius: 90em;
  border-radius: 90em;
  border: 1px solid #CCC;
}

/**
21. NEWS
---------------------------------------------
 */
.node-type-news-update #main-content{
  padding-top:0;
}
.node-type-news-update #main-content #page-title { /* Hide double-up H1*/
  display:none;
}

/**
22. ADMIN LOGIN - HOME / DASHBOARD PAGE
---------------------------------------------
 */

.front.admin-menu #block-system-main {
  display: none;
}


 /**
23. KNOWLEDGE FEATURE [UNUSED?]
---------------------------------------------
 */


form .field-name-field-file-ref div.entityconnect-add {
  height: 2.5em;
  float: left;
  padding: 5px 0;
}

form .field-name-field-file-ref div.entityconnect-add input {
  height: 2.5em;
  width: 100%;
  border: 1px solid #d5d5d5;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background-image: -webkit-linear-gradient(top,#fff 0%,#e6e6e6 100%);
  background-image: -ms-linear-gradient(top,#fff 0%,#e6e6e6 100%);
  background-image: -moz-linear-gradient(top,#fff 0%,#e6e6e6 100%);
  background-image: -o-linear-gradient(top,#fff 0%,#e6e6e6 100%);
  background-image: webkit-gradient(linear,left top,left bottom,color-stop(0,#fff),color-stop(1,#e6e6e6));
  background-image: linear-gradient(to bottom,#fff 0%,#e6e6e6 100%);
  margin: 0;
  padding: 0;
  text-indent: 0;
}
form .field-name-field-file-ref select,
form .field-name-field-file-ref div {
  clear: both;
  width: 100%;
  margin: auto;
}
form .field-name-field-file-ref span {
  display: block;
  text-align: center;
}
form .field-name-field-ko-file .tabledrag-toggle-weight-wrapper {
  display: none;
}
.field-type-entityreference .form-type-textfield input[type=text] {
  width: 100%;
}
.view-recent-files .views-row {
  padding-bottom: 10px;
}
form .field-name-field-file-ref {
  margin-top: 30px;
  padding-top: 20px;
  border-top: 1px solid #ccc;
}

/** FIELD COLLECTIONS of services page
  ---------------------------------------------
  */
 .page-node-9 fieldset.collapsed + .field-collection-view-links {
   display: none;
 }
 html.js fieldset.collapsed {
  height: 2.0em;
}
.page-node-9 legend {
 line-height: 20px;
}



 /**
24. IE Fixes
---------------------------------------------
 */

.ie8 .sidebar #block-search-form.contextual-links-region {
  position: inherit;
}


 /**
25. HUBS
---------------------------------------------
 */

.node-type-hub .topic_host{
  background-color:#f2f2f2;
  border:1px solid #ddd;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.ui-inline,
.ui-inline span,
.ui-inline div{
  display: inline;
}

.hub-header{
  background:#F2F2F2;
  padding: 8px 16px;
}

.hub-header.hub-detail-page{
  padding-bottom:0;
  margin-left:-10px; /*can remove this if extraneous 'content' div is removed */
  margin-right:-10px;
}

.hub-header .article_text{
  font-style: oblique;
}

.hub-header span.label{
  padding: 4px 6px 2px 6px;
  float: right;
  margin-top: 5px;
  margin-right:2px;
  opacity: 0.85;
}

.view-hubs{
  margin-top:20px;
}

.hub-header span.label.ui-inline-label{
  float:none;
  margin-top:0;
}

.hub-header .ui-hubs-organisation-thumbnail .thumbnail{
  padding-bottom:1em;
}

.hub-header .ui-hubs-organisation-thumbnail .ui-org-img div{
  background-color:#fff;
  padding:15px;
  text-align: center;
  margin-bottom:0.5em;
}

.hub-header .ui-hubs-organisation-thumbnail .user-picture-small div {
  text-align: center;
  margin-top:0.75em;
}

.hub-header .nav.nav-tabs{
  margin-bottom:0;
}

.hub-header .nav-tabs > .active > a, 
.hub-header .nav-tabs > .active > a:hover, 
.hub-header .nav-tabs > .active > a:focus{
  background-color: #fbfbfb;
  -webkit-box-shadow:inset 0 1px 0 0 #ffffff;
  -moz-box-shadow:inset 0 1px 0 0 #ffffff;
  box-shadow:inset 0 1px 0 0 #ffffff;
}

.hub-header .nav-tabs > li > a:hover,
.hub-header .nav-tabs > li > a:focus{
  border-bottom:transparent;
  background-color: #e0e0e0;
}

.ui-button-sidenav{
  width:100%;
}

.ui-button-sidenav a.btn {
  margin-bottom:0.5em;
  display:block;
}

.ui-button-sidenav a.btn.btn-danger{
  margin-top:2em;
}



/**
26. RESPONSIVE - CONTENT-SPECIFIC
------------------------------------------------------------------
/*  -------------*/


@media (min-width: 769px) {
  .title_text.container div{
    padding-left:10px;
    padding-right: 10px; 
  }
}
@media (max-width: 979px) {
   
  .not-front #header-content,
  .front #main-content,
  .not-front #main-content,
  .not-front.node-type-news-update #main{
    margin-top:51px;
  }

  .not-front.node-type-news-update #main-content,
  .not-front.node-type-conversation #main-content,
  .not-front.page-topics #main-content,
  .not-front.page-news-update #main-content {
     margin-top:0;
  }
}

@media (max-width: 767px) {
  .index_item .featured-image,
  .index_item .span2{
    display:none;
  }

  .topic-feature .topic_feature_right{
    margin-top:10px;
  }
  .topic_featured .content,
  .main-upper .content{
    background:#f2f2f2;
    margin-top:10px;
    padding:10px 0;
  }
  .topic_feature_left img {
    display:block;
  }

  .title_block {
    margin-top: 20px;
  }

  .breadcrum h1,
  .node-type-basic-page h1#page-title {
    max-width: 500px;
  }
}

@media (max-width: 399px) {
  .not-logged-in .container{
    width:100%;
  }
    #sidebar-first, /* Sidebar on left */
    #habla_beta_container_do_not_rely_on_div_classes_or_names{ /* Get connected box */
    display:none; /* Hide at mobile view */
  }
  .views-exposed-form .views-exposed-widget .form-submit { /* No margin where button drops down */
    margin-top:0;
  }
}

/**
27. MOBILE RESPONSIVE MENU
------------------------------------------------------------------
/*  -------------*/


.ui-mobile-menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}
.ui-mobile-menu ul {
  list-style: none;
}
.ui-mobile-menu li{
  float: right;
}
.ui-mobile-menu li a{
  display: block;
  padding: 10px;
}

.ui-tab-content {
  background-color: gray;
}

#tab-container, ul.etabs{
  background:#fff;
  height:50px;
}
#tab-container {
  border-bottom:1px solid #f2f2f2;
}

#tab-container .tab_logo.tab{
  float:left;
  border:none;
  padding:10px;
}

#tab-container .tab_logo.tab a:hover,
#tab-container .tab_logo.tab a:active{
  text-decoration: none;
  opacity: 0.75;
}

ul.etabs, 
#tabs1-menu, #tabs1-menu ul, #tabs1-menu ul li, 
#tabs1-search, #tabs1-search ul, #tabs1-search ul li, 
#tabs1-profile, #tabs1-profile ul, #tabs1-profile ul li{
  display:block;
  list-style: none;
  list-style-image: none;
  width:100%;
  margin:0;
  padding:0;
}

ul.etabs li, ul.etabs li.collapsed, ul.etabs li.expanded{
  display:block;
  list-style: none;
  list-style-image: none;
  margin:0;
  padding:0;
  border-left:1px solid #F2F2F2;
}

ul.etabs li a{
  color:#999;
  width: auto;
  padding:10px 10px 10px 14px;
  margin:0;
  min-height: 30px;
  line-height: 30px;
}

#tab-container .ui-tab-content {
  background:#999999;
}

ul.etabs li a.active{
  background:#999999;
  color:#fff;
  -webkit-box-shadow:inset -2px 2px 0 1px #6b6b6b;
  box-shadow:inset -2px 2px 0 1px #6b6b6b;
}

ul.etabs li.tab_logo.tab a{
  padding:10px;
}

ul.etabs li a:hover, ul.etabs li a:focus, ul.etabs li a:active {
  text-decoration: none;
  color:#fff;
  background:#0088cc;
  -webkit-box-shadow:none;
  box-shadow:none;
}

#tabs1-menu ul li a, 
#tabs1-search ul li a,
#tabs1-profile ul li a{ 
  color:#ffffff;
  text-transform: uppercase;
  font-family: 'PT Sans Narrow';
  font-weight: 700;
  /*border-bottom: 1px solid #a6a6a6;*/
  font-size: 1.4em;
}

#tabs1-menu ul li a.primary_item, 
#tabs1-search ul li a.primary_item,
#tabs1-profile ul li a.primary_item{ 
  background:#8a8a8a;
}

#tabs1-menu ul li a:hover, #tabs1-menu ul li a:focus,  #tabs1-menu ul li a:active, 
#tabs1-search ul li a:hover, #tabs1-search ul li a:focus, #tabs1-search ul li a:active, 
#tabs1-profile ul li a:hover, #tabs1-profile ul li a:focus, #tabs1-profile ul li a:active{
  background:#0088cc;
}

#tabs1-menu ul li a.active,
#tabs1-search ul li a.active,  
#tabs1-profile ul li a.active{   
  text-decoration: underline;
}

#tabs1-menu ul li a:hover, #tabs1-menu ul li a:focus,
#tabs1-menu ul li a.primary_item:hover, #tabs1-menu ul li a.primary_item:focus,
#tabs1-search ul li a:hover,  #tabs1-search ul li a:focus,
#tabs1-search ul li a.primary_item:hover,  #tabs1-search ul li a.primary_item:focus,
#tabs1-profile ul li a:hover, #tabs1-profile ul li a:focus,
#tabs1-profile ul li a.primary_item:hover, #tabs1-profile ul li a.primary_item:focus{
  -webkit-box-shadow:none;
  box-shadow: none;
}

#search-block-form--2{
  margin:0 10px;
  padding:10px 0;
}

 #tabs1-search .form-item-search-block-form{
  float:left;
}

#tabs1-search input.search-query {
  -webkit-border-radius: 15px 0 0 15px;
  border-radius: 15px 0 0 15px;
  padding-top:5px;
  padding-bottom:5px;
}

html.js #tabs1-search input.search-query {
  background-image:none;
}

#tabs1-search input.btn-search{
  float:left;
  height:2.1em;
  margin:1em 0;
  -webkit-border-radius: 0 15px 15px 0;
  border-radius: 0 15px 15px 0;
}






